.container {
  left: 0;
  width: 100%;
  min-height: 150vh;
  margin-top: 7vh;
}

.body {
  display: grid;
  left: 0;
  width: 100%;
  grid-template-columns: 150px 3fr 150px;
}

.b-center {
	display: grid;
  width: 100%;
  margin-top: 20px;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-gap: 8px;
}

.item {
  width: 200px;
  height: 200px;
	border: 2px solid white;
}

.map {
	grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 4;
  grid-column-end: 6;
  border: 2px solid white;
}