header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 3fr 1fr;
    text-shadow: 1px 0 black;
    background: rgba(50, 50, 50, 0.9);
    font-size: 18px;
    border-bottom: 1px solid black;
    overflow: hidden;
    z-index: 10;
}

input:focus {
    outline: none;
}

.h-center, .h-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.search-container {
    display: flex;
    padding: 5px;
    background-color: white;
    border-radius: 5px;
    padding-left: 10px;
}

.search-container > input {
    width: 100%;
    border: none;
    font-weight: bold;
}

.search-container > img {
    margin-left: 5px;
    cursor: pointer;
}