header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7vh;
    display: grid;
    grid-gap: 4px;
    grid-template-columns: 1fr 3fr 1fr;
    text-shadow: 1px 0 black;
    background: rgba(50, 50, 50, 0.9);
    font-size: 18px;
    border-bottom: 1px solid black;
    overflow: hidden;
    z-index: 10;
}

input {
    width: 100%;
    border: none;
}

input:focus {
    outline: none;
}

.h-left {
    border: 1px solid white;
}

.h-center {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
}

.h-right {
    border: 1px solid white;
}

.title {
    font-size: 22px;
    font-weight: bold;
    color: white;
}